# Node.js

node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables

.env
.env.test

# Logs

logs
*.log

# Runtime data

pids
*.pid
*.seed
*.pid.lock

# Coverage

coverage/
*.lcov

# Build output

dist/
build/

# Dependency directories

jspm_packages/

# TypeScript

*.tsbuildinfo

# VSCode

.vscode/

# MacOS

.DS_Store

# Optional npm cache directory

.npm

# Optional eslint cache

.eslintcache

# Prisma

.prisma/

# Docker

*.dockerfile
.dockerignore
